<div class="font-effect-anaglyph">Edit poet</div>

<%= render 'form' %>

<div class="bottom_link"><%= link_to 'Look', @poet %></div>
<div class="bottom_link"><%= link_to 'All Poets', poets_path %></div>
