$special_font: 'Bitter', serif;
$font: 'Droid Sans', sans-serif;
$beige: #E4DED0;
$seafoam: #ABCCBD;
$aqua: #7DBEB8;
$blackish: #181619;
$red: #E32F21;


#container {
  background-color: $beige;
  color: $blackish;
  padding: 12px;
  width: 100%;
  height: 120%;
}

#content {
  margin: 0 auto;
  width: 410px;
  height: 10000px;
}

.master_nav {
  color: $red;
  font: $special_font;
  text-transform: lowercase;
  float: right; 
  margin-right: 10px;
  margin-top: 15px;
}

#error_explanation {
  font: 100% $font;
  text-transform: lowercase;
  color: $red;
}

#notice {
  float: left;
  color: $red;
}

#content p {
  font: 30px $font;
  text-transform: lowercase;
  text-align: center;
}

.poet, .slam, .round {
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  background-color: $aqua;
  border-radius: 10px;
}

.advance_poets {
  background-color: $aqua;
  border-radius: 100%;
}

.poets {
  font-family: $special_font;
  font-size: x-large;
  color: $red;
  text-align: center;
}

.round {
  background-color: $aqua;
}

.top_link {
  margin-top: 6px;
  font-size: 25%;
  float: right;
}

.clear_float {
  clear: both;
}

.font-effect-anaglyph {
  margin-top: 45px;
  font-family: $special_font;
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
}

#content h1 {
  font-family: $font;
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
}

.internal_link {
  font: 75% $special_font;
  padding: 8px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  //background-color: $red;
  width: 80%;
  margin: 0 auto;
}

.photo {
 border-radius: 100%; 
 margin: 0 auto;
 border: 5px solid $blackish;
}

.slam {
  background-color: $seafoam;
  color: $blackish;
  padding: 10px;
  margin-top: 20px;
}

.field {
  margin: 10px auto;
}

.actions {
  margin: 10px auto;
  width: 81%;
  text-align: center;
}

a {
  font: 95% $special_font;
  padding: 15px;
  background-color: $blackish;
  color: $aqua;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100%;
  border: 5px solid $aqua;
  text-align: center;
  margin: 8px;
}

.bottom_link {
  margin-top: 30px;
  float: left;
}

.form_field {
  text-align: center;
  background-color: $aqua;
  font-family: $font;
  text-transform: lowercase;
  font-size: x-large;
  color: $blackish;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
}

input[type=submit] {
  text-align: center;
  background-color: $red;
  color: $blackish;
  width: 200px;
  margin: 10px auto;
  border-radius: 10px;
  font-family: $font;
  font-size: large;
  text-transform: uppercase;
  border: 5px solid $blackish;
  cursor: pointer;
}

input[type=text] {
  border-radius: 10px;
  height: 25px;
  font: $special_font;
  color: $blackish;
  font-size: large;
}

input[type=checkbox] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

a:hover {
  background-color: $aqua;
  border: 5px solid $blackish;
  color: $red;
}

//.roundedTwo {
//  width: 28px;
//  height: 28px;
//  background: #fcfff4;
//
//  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
//  margin: 20px auto;
//
//  -webkit-border-radius: 50px;
//  -moz-border-radius: 50px;
//  border-radius: 50px;
//
//  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
//  position: relative;
//}
//
//.roundedTwo label {
//  cursor: pointer;
//  position: absolute;
//  width: 20px;
//  height: 20px;
//
//  -webkit-border-radius: 50px;
//  -moz-border-radius: 50px;
//  border-radius: 50px;
//  left: 4px;
//  top: 4px;
//
//  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
//  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
//  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
//
//  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
//  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
//  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
//  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
//  background: linear-gradient(top, #222 0%, #45484d 100%);
//  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
//}
//
//.roundedTwo label:after {
//  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
//  filter: alpha(opacity=0);
//  opacity: 0;
//  content: '';
//  position: absolute;
//  width: 9px;
//  height: 5px;
//  background: transparent;
//  top: 5px;
//  left: 4px;
//  border: 3px solid #fcfff4;
//  border-top: none;
//  border-right: none;
//
//  -webkit-transform: rotate(-45deg);
//  -moz-transform: rotate(-45deg);
//  -o-transform: rotate(-45deg);
//  -ms-transform: rotate(-45deg);
//  transform: rotate(-45deg);
//}
//
//.roundedTwo label:hover::after {
//  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
//  filter: alpha(opacity=30);
//  opacity: 0.3;
//}
//
//.roundedTwo input[type=checkbox]:checked + label:after {
//  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
//  filter: alpha(opacity=100);
//  opacity: 1;
//}