$special_font: 'Bitter', serif;
$font: 'Droid Sans', sans-serif;
$beige: #E4DED0;
$seafoam: #ABCCBD;
$aqua: #7DBEB8;
$blackish: #181619;
$red: #E32F21;


#container {
  background-color: $beige;
  color: $blackish;
  padding: 12px;
  width: 100%;
  height: 2000px;
}

.master_nav {
  color: $red;
  font: $special_font;
  text-transform: lowercase;
  float: right; 
  margin-right: 10px;
  margin-top: 15px;
}

#error_explanation {
  font: 100% $font;
  text-transform: lowercase;
  color: $red;
}

#content p {
  font: 100% $font;
  text-transform: lowercase;
  text-align: center;
}

.poet .slam .round {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  background-color: $aqua;
}

.advance_poets {
  background-color: $aqua;
  border-radius: 100%;
}

.poets {
  font-family: $special_font;
  font-size: x-large;
  color: $red;
  text-align: center;
}

.round {
  background-color: $aqua;
}

.top_link {
  margin-top: 6px;
  font-size: 25%;
  float: right;
}

.clear_float {
  clear: both;
}

.font-effect-anaglyph {
  margin-top: 45px;
  font-family: $special_font;
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
}

#content h1 {
  font-family: $font;
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
}

.internal_link {
  font: 75% $special_font;
  padding: 8px;
  margin-top: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: $red;
  width: 80%;
  margin: 0 auto;
}

.photo {
 border-radius: 100%; 
 margin: 0 auto;
 border: 5px solid $blackish;
}

.slam {
  background-color: $seafoam;
  color: $blackish;
  padding: 10px;
  margin-top: 20px;
}

.field {
  text-align: center;
  background-color: $red;
  font-family: $font;
  text-transform: lowercase;
  font-size: x-large;
  color: $blackish;
  padding: 10px;
  width: 80%;
  margin: 0 auto;
}

.actions {
  text-align: center;
  background-color: $seafoam;
  color: $blackish;
  width: 81%;
  margin: 0 auto;
}

a {
  font: 95% $special_font;
  padding: 15px;
  background-color: $blackish;
  color: $aqua;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100%;
  border: 5px solid $aqua;
  text-align: center;
  margin: 8px;
}

.bottom_link {
  margin-top: 25px;
  float: left;
}

a:hover {
  background-color: $aqua;
  border: 5px solid $blackish;
  color: $red;
}